body {
  background-color: $light-black;
}

.header-contact {
  width: 100%;
  padding: 53px 53px 10px 60px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-options span {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.25em;
  color: $white;
  padding-right: 5em;
  border-radius: 5px;
  padding: 5px;
  margin-right: 68px;
}

.menu-options span:hover {
  @include hover-menu-animation;
}

.header-container .menu-search input {
  width: 250px;
  border-radius: 35px;
  padding: 17px 20px 13px 19px;
  background-color: $light-gray-1;
  border: none;
  color: $white;
}

.header-container .menu-search input::placeholder {
  font-size: 1.375em;
  color: $gray;
  font-weight: 500;
}

.header-container .menu-search input:focus {
  outline: $red;
  border: 0.5px solid $red;
  box-shadow: 0 0 5px $orange;
}

.sub-menu-navigation {
  width: 100%;
  padding: 5px 53px 10px 58px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 7.81em;
  color: $white;
}

.menu h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.25em;
  color: $red;
  opacity: 78%;
  letter-spacing: 0.2em;
  max-width: 200px;
  line-height: 50px;
  padding-left: 35px;
}

.introduction {
  width: 100%;
  padding: 5px 53px 60px 66px;
}

.introduction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.introduction h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: $white;
  opacity: 78%;
  line-height: 50px;
  position: relative;
}

.introduction h2:after {
  content: "";
  width: 140px;
  position: absolute;
  left: 0;
  bottom: 2px;
  border-width: 0 0 4px;
  border-style: solid;
}

.introduction-container .product-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item .burger-item {
  width: 329px;
  height: 246px;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: $light-gray-2;
  box-shadow: 0px 4px 4px $black;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
}

.product-item .burger-item svg path {
  animation-name: star-animation;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-direction: normal;
  @include draw-star-animation;
}

.product-item .burger-item h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: $white;
}

.product-item .burger-item h3,
img:nth-of-type(2) {
  padding: 10px 10px 5px 20px;
}

.footer-information {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
  background-color: $black;
  width: 100%;
  height: 90px;
  left: 0;
  bottom: 0;
}

.footer-information p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  color: $white;
  opacity: 78%;
  line-height: 22.75px;
  position: relative;
}

.footer-information a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: $orange;
  opacity: 78%;
  line-height: 22.75px;
  position: relative;
}

@media screen and (min-width: 1920px) {
  .footer-information {
    position: absolute;
  }
}
